@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", monospace;
}

.blog-content img,
article img {
  width: 100%;
}
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.blog-content h1 {
  font-size: 42px;
  font-weight: 700;
  color: #1c1c1c;
  line-height: 130%;
  margin-bottom: 10px;
}
.blog-content h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1c1c1c;
  line-height: 130%;
  margin-bottom: 10px;
}
.blog-content h3 {
  font-size: 28px;
  font-weight: 700;
  color: #1c1c1c;
  line-height: 130%;
  margin-bottom: 10px;
}
.blog-content h4 {
  font-size: 22px;
  font-weight: 700;
  color: #1c1c1c;
  line-height: 130%;
  margin-bottom: 10px;
}
.blog-content h5 {
  font-size: 18px;
  font-weight: 700;
  color: #1c1c1c;
  line-height: 130%;
  margin-bottom: 10px;
}
.blog-content h6 {
  font-size: 16px;
  font-weight: 700;
  color: #1c1c1c;
  line-height: 130%;
  margin-bottom: 10px;
}

.blog-content p {
  font-size: 20px;
  line-height: 221%;
  color: #888;
  margin-bottom: 10px;
}

.blog-content pre {
  padding: 20px;
}

.social-link a,
.language-tools a {
  display: flex;
  width: 40px;
  height: auto;
  margin-right: 30px;
  margin-bottom: 30px;
}

.social-link,
.language-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.most-usage-tools {
  max-width: 500px;
}
